<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-account"></span> Local</h3>

            </div>
        </div>

        <!-- Twitch INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fab fa-twitch"></span> twitch</h3>

                <!-- check if the account has this token (is the account authenticated with this social account) -->
                <% if (account.twitch.token) { %>
                    <p>
                        <strong>id</strong>: <%= account.twitch.id %><br>
                        <strong>token</strong>: <%= account.twitch.token %><br>
                        <strong>email</strong>: <%= account.twitch.email %><br>
                        <strong>accountname</strong>: <%= account.twitch.username %>
                        <img height=48 width=48 src= <%= account.twitch.logo %> <br>
                        
                    </p>

                    <a href="/unlink/twitch" class="btn btn-primary">Unlink</a>
                    <a href="/get/twitchEndpoint" class="btn btn-primary">Test Endpoint</a>
                <% } else { %>
                    <a href="/connect/twitch" class="btn btn-info">Link Twitch</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fab fa-twitter"></span> Twitter</h3>

                <% if (account.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= account.twitter.id %><br>
                        <strong>token</strong>: <%= account.twitter.token %><br>
                        <strong>display name</strong>: <%= account.twitter.displayName %><br>
                        <strong>accountname</strong>: <%= account.twitter.username %>
                        <img src= <%= account.twitter.logo %> <br>
                        
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Link Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- REDDIT INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fab fa-reddit"></span> Reddit</h3>

                <% if (account.reddit.token) { %>
                    <p>
                        <strong>id</strong>: <%= account.reddit.id %><br>
                        <strong>token</strong>: <%= account.reddit.token %><br>
                        <strong>username</strong>: <%= account.reddit.name %>
                        <img height=48 width=48 src= <%= account.reddit.logo %> <br>
                    </p>

                    <a href="/unlink/reddit" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/auth/reddit" class="btn btn-danger">Link Reddit</a>
                <% } %>

            </div>
        </div>
    </div>

</div>
</body>
</html>
